@import url("./../../style.css");
.example-section {
  background-color: var(--productcolor-rate);
  padding: 20px;
  border-radius: 12px;
  font-family: var(--family-poppins);

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;

  text-align: center;
}

.example-section h2 {
  color: #007b5e;
}

.example-section p {
  color: #333;
  font-size: 16px;
   margin-top: 15px;
}

.example-button {
  padding: 10px 20px;
  background-color: var(--clr-primary);
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s ease;
}

.example-button:hover {
  background-color: #009f06;
}
